@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #79a18e;
    text-decoration: none;
}

button {
    background-color: #3a7314;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2d9d1c;
}


